<html>
    <head>
        <title>
            PatentTools: Search
        </title>
        <style>        
            h1 {font-family: Arial, Helvetica, sans-serif;}
            h2 {font-family: Arial, Helvetica, sans-serif;}
            span {font-family: Arial, Helvetica, sans-serif;}
        </style>
    </head>
    <body>
        <h1>PatentTools</h1>
        <h2>Search for US Patent information.</h2><p>
        
        <form action = "/results" method = "POST">
            <span>Patent number: <input type = "text" name = "raw_pat_num"></span><p>
            <input type = "submit" value = " search">
        </form>
        
        
    </body>
</html>
        